---
const today = new Date();
---

<footer class="footer">
	<div class="footer__inner">
		<div class="copyright">
			<span>&copy; {today.getFullYear()} Kevin Johnson</span>
			<span>&middot;</span>
			<span>Powered by <a href="https://astro.build/">Astro</a></span>
		</div>
	</div>
</footer>
<style>
	.footer {
		padding: 40px 0;
		flex-grow: 0;
		opacity: 0.65;
	}

	.footer__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	.footer a {
		color: inherit;
	}

	.copyright {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}

	.copyright span {
		white-space: nowrap;
	}
</style>
