---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="header">
	<div class="header__inner">
		<div class="header__logo">
			<a href="/">
				<div class="logo">{SITE_TITLE}</div>
			</a>
		</div>
	</div>
	<nav class="navigation-menu">
		<ul class="navigation-menu__inner">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<li class="spacer"></li>
			<li><a href="/rss.xml" target="_blank">RSS</a></li>
		</ul>
	</nav>
</header>
<style>
	.header {
		display: flex;
		flex-direction: column;
	}

	.header__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header__logo {
		display: flex;
		flex: 1;
	}

	.header__logo::after {
		content: '';
		background: repeating-linear-gradient(
			90deg,
			var(--accent),
			var(--accent) 2px,
			transparent 0,
			transparent 10px
		);
		display: block;
		width: 100%;
		right: 10px;
	}

	.header__logo a {
		flex: 0 0 auto;
		max-width: 100%;
		text-decoration: none;
	}

	.logo {
		display: flex;
		align-items: center;
		text-decoration: none;
		background: var(--accent);
		color: var(--background);
		font-weight: bold;
		padding: 5px 10px;
	}

	.navigation-menu {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 20px 1px;
	}

	.navigation-menu__inner {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.navigation-menu__inner > :global(li) {
		flex: 0 0 auto;
		margin-bottom: 10px;
		white-space: nowrap;
	}

	.navigation-menu__inner > :global(li:not(:last-of-type)) {
		margin-right: 20px;
	}

	.navigation-menu__inner .spacer {
		flex-grow: 1 !important;
	}

	@media (max-width: 684px) {
		.navigation-menu {
			margin: 0;
		}

		.navigation-menu__inner {
			flex-direction: column;
			align-items: flex-start;
			padding: 0;
		}

		.navigation-menu__inner > :global(li) {
			margin: 0;
			padding: 5px;
		}
	}
</style>
